body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: brown;
    background-color: #f4f4f9; /* Couleur de fond plus claire */
}

header{
    text-align: center;
    height: 70px;
    background-color: khaki;
    margin-bottom: 5px;
}
header h1 {
    font-size: 40px;
    
}
nav{
    width: 25%;
    height: 600px;
    background-color: khaki;
    float: left;
   
}
section{
    width: 73%;
    height: 600px;
    text-align: center;
    float: right;
    
}

ul{
   
    padding-top: 50px;
    
}

li{
    margin-top: 30px;
    margin-left: 50px;

}
a{
    text-decoration: none;
    color: #333;
    font-size: 25px;
    
}

iframe{
    border: none;
    width: 80%;
    height: 80%;
    margin-top: 50px;
   
}
div:hover{
    transform: translate(1000%);
    background-color: green;
    transition: all 2s;
}
#desc{
    background-color: #c1f1f1;
}
